[project]
	description = scheme command line interface using tinyscheme
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mathewprokos
[access "refs/for/refs/*"]
	read = group user/mathewprokos
	push = group user/mathewprokos
	label-Code-Review = -2..+2 group user/mathewprokos
	label-Verified = -1..+1 group user/mathewprokos
	rebase = group user/mathewprokos
	removeReviewer = group user/mathewprokos
	submit = group user/mathewprokos
[access "refs/heads/*"]
	read = group user/mathewprokos
	create = group user/mathewprokos
	push = +force group user/mathewprokos
	pushMerge = group user/mathewprokos
[access "refs/tags/*"]
	push = group user/mathewprokos
	push = +force group user/mathewprokos
